@model RegisterDto
@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form method="post">
				<label for="chk" aria-hidden="true">Admin Kayıt</label>
				<input type="text"  placeholder="İsim" required="" asp-for="FirstName">
				<input type="text"  placeholder="Soyisim" required="" asp-for="LastName">
				<input type="email"  placeholder="e-Posta" required="" asp-for="Mail">
				<input type="text"  placeholder="Kullanıcı Adı" required="" asp-for="Username">
				<input type="password"  placeholder="Şifre" required="" asp-for="Password">
				<button type="submit">Kayıt Ol</button>
			</form>
		</div>

@* 		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">Giriş Yap</label>
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>Login</button>
			</form>
		</div> *@
	</div>
</body>
</html>