
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Dashboard/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hizrian
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">My Profile</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Edit Profile</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="fa-regular fa-chart-pie-simple" style="color:#1d62f0"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars/Index/">
					<i class="fa-regular fa-chart-simple" style="color:#1d62f0"></i>
					<p>İstatistik</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminAbout/AboutList">
					<i class="fa-regular fa-address-book" style="color:#1d62f0"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminBooking/BookingList" >
					<i class="fa-regular fa-file-pen" style="color:#1d62f0"></i>
					<p>Rezervasyon</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminCategory/CategoryList">
					<i class="fa-regular fa-layer-plus" style="color:#1d62f0"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell" style="color:#1d62f0"></i>
					<p>Notifications</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="typography.html">
					<i class="la la-font" style="color:#1d62f0"></i>
					<p>Typography</p>
					<span class="badge badge-danger">25</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons" style="color:#1d62f0"></i>
					<p>Icons</p>
				</a>
			</li>
		</ul>
	</div>
</div>
