
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">

		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="fa-regular fa-house-blank" style="color:#1d62f0"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars/Index/">
					<i class="fa-regular fa-chart-pie-simple" style="color:#1d62f0"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminStatistic/Index">
					<i class="fa-regular fa-chart-simple" style="color:#1d62f0"></i>
					<p>İstatistik</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminCategory/CategoryList">
					<i class="fa-regular fa-layer-plus" style="color:#1d62f0"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminCategory/CategoryList">
					<i class="fa-regular fa-burger-soda" style="color:#1d62f0"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminOrder/OrderList">
					<i class="fa-regular fa-hourglass-clock" style="color:#1d62f0"></i>
					<p>Siparişler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminAbout/AboutList">
					<i class="fa-regular fa-address-book" style="color:#1d62f0"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/Index">
					<i class="fa-regular fa-tablet-rugged" style="color:#1d62f0"></i>
					<p>Masa Takip</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminBooking/BookingList">
					<i class="fa-regular fa-file-pen" style="color:#1d62f0"></i>
					<p>Rezervasyon</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminDiscount/Index">
					<i class="fa-regular fa-percent" style="color:#1d62f0"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notifications/Index/">
					<i class="fa-regular fa-bell-ring" style="color:#1d62f0"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminSliders/Index/">
					<i class="fa-regular fa-rectangle-ad" style="color:#1d62f0"></i>
					<p>Afiş</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminContact/Index/">
					<i class="fa-regular fa-phone-volume" style="color:#1d62f0"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fa-regular fa-comments-question-check" style="color:#1d62f0"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Messages/Index">
					<i class="fa-regular fa-sliders" style="color:#1d62f0"></i>
					<p>Destek</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminContact/Index/">
					<i class="fa-regular fa-headset" style="color:#1d62f0"></i>
					<p>Ayarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="fa-regular fa-right-from-bracket" style="color:#1d62f0"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>
